/* .portfolio_container{

}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    border-color: var(--color-promary-variant);
    background: transparent;
}

.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3{
    margin: 1.2 0 2rem;
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
} */

/* Styles for the carousel container */
.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Styles for the carousel slides */
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 5500px; */
    background-color: var(--color-bg-variant);
    text-align: left;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  
  /* Styles for the slide content */
  .slick-slide h3 {
    font-size: 24px;
    color: var(--transition);
    margin-bottom: 10px;
  }
  
  /* Styles for the dots navigation */
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slick-dots li {
    margin: 0 5px;
    display: inline-block;
  }
  
  .slick-dots li button {
    font-size: 12px;
    color: #888;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .slick-dots li.slick-active button {
    color: #333;
  }
  

/*----------------MEDIA QUERIES (MEDIUM-TABLETS)----------------*/

@media screen and (max-width: 1024px){
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*----------------MEDIA QUERIES (SMALL-MOBILES)----------------*/

@media screen and (max-width: 600px){
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}